* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    -webkit-tap-highlight-color: transparent;
    /* For mobile tap highlight */
    -webkit-focus-ring-color: transparent;
    /* For Safari blue ring */
    outline: none;
    font-family: "Manrope", sans-serif;
}




body {
    margin: 0;


    font-family: "Manrope", sans-serif;
    font-optical-sizing: auto;

    font-style: normal;

    background-color: black;
    overflow-x: hidden;

    word-wrap: break-word;
    /* allow breaking long words */

    color: white;
}

/* --------------------------------------------- */
/* NAVIGATION */
header {
    display: flex;
    justify-content: center;

background: transparent;
    height: 150px;

    padding: 20px 0px;
    width: 100vw;
    z-index: 99999999;
  transition: background 1s ease;
    top: 0;
    position: fixed;
}
header.scrolled {
  background: linear-gradient(to bottom,
      rgba(0, 0, 0, 1) 45%,
      rgba(0, 0, 0, 0) 100%);
 
  transition: background 1s ease;
}

.logo {
    position: absolute;
    font-size: 24px;
    font-weight: 700;
    left: 6vw;
    margin-top: 1vh;
}

nav {
    margin-left: auto;
    background: transparent;
}

.navLinks {
    list-style: none;
    display: flex;
    gap: 3vw;

    text-align: center;
}

.navLinks li {
    margin-top: 12.5px;
}

.navLinks li a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    opacity: 0.9;

}

.navLinks li a:hover {
    color: #0077ff;
}

.cta {
  margin-left: 5%;
  background-color: #007bff;
  max-width: 205px;
  border-radius: 6px;
  padding: 10px 30px;
  height: 45px;
  border: none;

  border-radius: 10px;

  font-weight: normal;
  position: absolute;
  z-index: 99999;
  cursor: pointer;

  right: 6%;

}
.cta a{
  text-decoration: none;
    font-size: 18px;
      color: white;
}


.navLinks li:nth-child(2) {
    color: white;
    font-weight: bold;
}

/* hamburger */
.hamburger {
    width: 20px;
    position: absolute;
    display: none;
    cursor: pointer;
}

.hamburger span {
    width: 25px;
    height: 3px;
    position: absolute;
    border-radius: 20px;
    background-color: white;
    transition: all 0.5s ease;
    margin-top: -6px;

}

.hamburger span:nth-child(1) {
    top: 0;
    width: 15px;
}

.hamburger span:nth-child(2) {
    top: 8px;
}

.hamburger span:nth-child(3) {
    top: 16px;
    width: 15px;
}

#toggle:checked+.hamburger span:nth-child(1) {
    transform: rotate(45deg);
    top: 10px;
    width: 20px;


}

#toggle:checked+.hamburger span:nth-child(2) {
    opacity: 0;
}

#toggle:checked+.hamburger span:nth-child(3) {
    transform: rotate(-45deg);
    top: 10px;
    width: 20px;
}

/* hamburger end */


@media (max-width:1075px) {
    .logo {
        font-size: 20px;
    }

    .navLinks li a {

        font-size: 12px;

    }

    .cta {
      
        padding: 10px 14px;
    }
    .cta a {
  font-size: 12px;
    }
}



@media (max-width: 800px) {
    header {
        padding: 0;
        display: flex;

        gap: 15px;
    }


    .navLinks li {
        width: 100vw;
        text-align: left;
        height: 54px;
        display: flex;
        align-items: center;
        color: #0077ff;
        transition: 0.5s ease;
    }

    .navLinks li:hover {
        background-color: #0e0e0e;
        transition: 0.5s ease;

    }

    .navLinks li a {

        text-decoration: none;
        /* optional */
        width: 100%;
        display: block;
        transition: 0.5s ease;
    }

    .nav-links li a:hover {
        color: #0077ff;
        background-color: #0e0e0e;
        transition: 0.5s ease;
    }


    .logo {
        left: 6vw;
        top: 3vh;
    }

    .navLinks {
        flex-direction: column;
        position: absolute;

        margin-left: 0;
        align-items: flex-start;
        justify-content: flex-start;
        background-color: black;
        width: 100%;
        max-width: 80vw;
        left: 100vw;
        font-size: 18px;
        font-weight: bold;
        overflow: hidden;
        height: 100vh;
        border-left: 2px solid #0077ff;
        opacity: 0;
        pointer-events: none;

        border-radius: 8px;
        gap: 0;
        transition: all 0.5s ease;
    }

    .navLinks li a {

        margin-left: 5vw;

        font-size: clamp(18px, 2vw, 22px);

    }

    .navLinks li:nth-child(1) {
        margin-top: 10px;
    }

    #toggle:checked~.navLinks {
        width: 100%;
        max-width: 80vw;
        left: 30vw;
        opacity: 1;
        pointer-events: auto;
        transition: left 0.4s ease-in-out;
    }

    .hamburger {
        display: flex;
        flex-direction: column;
        position: absolute;
        right: 20px;
        top: 6vh;
        z-index: 1001;
    }

    .cta {
        right: 6vw;
        top: 3vh;
    }


}

@media (max-width:600px) {
    .cta {
        display: none;
    }

    .hamburger {
        top: 5vh;
        right: 5vw;
    }

}

/* nav same */

/* hero section  */
.hero-about {


    width: 100vw;

    margin: auto;
    position: relative;
    background-image: url("images/banner-01\ 1.png");
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;

    height: 700px;
    padding-left: 6vw;
    padding-right: 6vw;

    align-items: center;
    justify-content: center;
    background-size: 100% 100%;
    z-index: 999;

}

.hero-about::before {
    content: '';
    background-color: #00000049;

    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}

.hero-about h1 {
    font-size: clamp(50px, 2vw, 60px);
    text-align: center;
        z-index: 1;
}

.hero-about p {
    text-align: center;
    font-size: clamp(16px, 2vw, 24px);
    font-weight: normal;
    line-height: clamp(24px, 2vw, 36px);
        z-index: 1;
}

@media(max-width:713px) {
    .hero-about {
        height: 500px;
    }
}

/* hero section end */
/* what  */
.what {
    display: flex;
    flex-direction: column;
    padding-block: clamp(70px, 8vw, 90px);
    justify-content: center;
    align-items: center;
    padding-left: 6vw;
    padding-right: 6vw;
}

.what h2 {
    font-size: clamp(20px, 2vw, 36px);
    color: white;

    font-weight: normal;
    text-align: center;
    line-height: clamp(36px, 2vw, 46px);
}

.what h2 span {
    color: #00d0ff;
}

.what p {
    text-align: center;
    font-size: clamp(12px, 1.6vw, 18px);
    font-weight: normal;
    line-height: clamp(30px, 2vw, 46px);
}

/* what end */
/* who we help */
.who-help {
    background: linear-gradient(to bottom, #0f0f0f 0%, #0f0f0f77 100%);
    display: flex;
    flex-direction: column;
    padding-block: clamp(70px, 8vw, 90px);
    justify-content: center;
    align-items: center;
    padding-left: 6vw;
    padding-right: 6vw;
}

.who-help h2 {
    font-size: clamp(32px, 2vw, 36px);
    color: white;

    font-weight: bold;
    text-align: center;
    line-height: clamp(36px, 2vw, 46px);
    margin-bottom: clamp(30px, 8vw, 60px);
}

.grid-who {
    display: flex;

    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    gap: 20px;
    max-width: 1410px;
}

.grid-item-who {
    width: 100%;
    max-width: 330px;
    height: 396px;
    padding: 20px;
    border: 2px solid #434343;
    border-radius: 10px;
    gap: 15px;
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
}

.img-who {
    background-color: white;
    border-radius: 10px;
    height: 240px;
    width: 290px;
    font-size: clamp(20px, 2vw, 36px);
    line-height: clamp(36px, 2vw, 46px);
}

.grid-item-who h3 {
    font-size: 22px;
    line-height: clamp(18px, 2vw, 32px);
}

.grid-item-who p {
    text-align: center;
    color: white;
    font-weight: lighter;
    font-size: 18px;
    line-height: clamp(22px, 2vw, 28px);
}

@media(max-width:1574px) {
    .grid-item-who {
        width: 100%;
        max-width: 270px;
        height: 356px;
        padding: 20px;

    }

    .img-who {
        background-color: white;
        border-radius: 10px;
        height: 210px;
        width: 220px;

    }
}

@media(max-width:650px) {
    .grid-item-who {
        width: 100%;
        max-width: 78vw;
        height: 376px;
        padding: 20px;

    }

    .img-who {
        background-color: white;
        border-radius: 10px;
        height: 230px;
        width: 68vw;

    }
}

/* who we help end */
/* section why choose us start */
.why-about{
   background-color: black;
    display: flex;
    flex-direction: column;
    padding-block: clamp(70px, 8vw, 90px);
    justify-content: center;
    align-items: center;
    padding-left: 6vw;
    padding-right: 6vw;
}

.why-about h2{
        font-size: clamp(20px, 2vw, 36px);
    color: white;

    font-weight: normal;
    text-align: center;
    line-height: clamp(36px, 2vw, 46px);
     margin-bottom: clamp(30px, 8vw, 60px);
}

.why-abt-grid{
    width: 100%;
    max-width: 1125px;
    display: flex;
    flex-direction: column;
    gap: 1px;
       background-color: #434343;
   
}
.why-item-abt{
    display: flex;
 
    width: 100%;
    max-width: 1125px;
 
}
.item-why-left{
width: 100%;
max-width: 460px;
background-color: black;
}
.item-why-left p{
     line-height: clamp(28px,5vw,32px);
    font-size: clamp(20px,2vw,24px);
    font-weight: bold;
    margin-left:5%;
    margin-top: 5%;
    margin-bottom: 80px;
}
.item-why-right{
width: 100%;
max-width: 665px;
background-color: black;
}
.item-why-right p{
        line-height: clamp(25px,5vw,32px);
    font-size: clamp(14px,2vw,18px);
    font-weight: normal;
    margin-left:5%;
    margin-top: 3%;
    color: #a3a3a3;
        margin-bottom: 40px;
}
/* why completed */




.join-about {
  background: linear-gradient(45deg, #15134a 0%, #0077ff 100%);

    padding-block: clamp(70px, 8vw, 90px);
 text-align: center;
    padding-left: 6vw;
    padding-right: 6vw;
}

.featured-container {
  width: 88vw;
  margin-left: auto;
  margin-right: auto;
}

.join-about h2 {
  font-size: clamp(40px,5vw,50px);
  font-weight: bold;
  margin-bottom: 15px;

}


.join-about p {
  font-size: clamp(18px, 2vw, 22px);
  font-weight: lighter;
  color: #e0e0e0;
  margin-bottom: 30px;
  width: 52vw;
  margin-left: auto;
  margin-right: auto;


}

.list-btn-abt {
  background-color: transparent;
  color: white;
  border: 1px solid white;
  padding: 12px 30px;
  font-size: 16px;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.list-btn-abt:hover {
  background-color: white;
  color: black;
}

@media (max-width:720px) {
  .join-about h2 {
    font-size: 35px;
  }
.join-about p{
    width: 88vw;

}

}

@media (max-width:400px) {
  .join-about h2 {
    font-size: 25px;
  }

  .join-about p {
    font-size: 14px;

  }
}








/* newsletter starts */
.newsletter {
    background-color: white;
    background: url('images/news\ letter-01\ 1.png');
    background-repeat: none;
    background-size: cover;
    background-size: 100%100%;
    padding-block: clamp(40px, 8vw, 100px);
    color: white;
}

.newsletter-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 30px;
    max-width: 1920px;
    margin: auto;
    align-items: center;
}

.newsletter-left h3 {
    font-size: 20px;
    margin-bottom: 10px;
    margin-left: 6vw;
}

.newsletter-left p {
    font-size: clamp(14px, 2vw, 18px);
    color: #ccc;
    margin-left: 6vw;
    width: 100%;
    max-width: 30vw;
}

.newsletter-right {
    display: flex;
    margin-right: 2vw;
    gap: 10px;
}

.newsletter-right input {
    background-color: rgba(255, 255, 255, 0.15);
    border-radius: 6px;
    border: 1px solid #0077ff;
    width: 30vw;
    margin-left: 6vw;
    height: 60px;

    font-size: clamp(15px, 2vw, 18px);
}

.newsletter-right input::placeholder {
    position: absolute;
    color: rgba(255, 255, 255, 0.6);
    margin-left: 5%;
    width: 100%;
    max-width: 50vw;
    font-size: clamp(14px, 2vw, 18px);
}

.subscribe-btn {
    background-color: #0077ff;
    color: white;
    font-weight: normal;
    border: none;
    border-radius: 6px;
    height: 60px;
    font-size: clamp(15px, 2vw, 18px);
    cursor: pointer;
    width: 100%;
    max-width: 175px;
    max-height: 60px;
    margin-right: 4vw;
}

@media (max-width: 768px) {

    .newsletter-container {
        flex-direction: column;
        align-items: flex-start;
    }

    .newsletter-left p {
        max-width: 90vw;
    }

    .newsletter-right {
        width: 95vw;

    }

    .newsletter-right input {
        width: 95vw;

    }
}

@media(max-width:290px) {
    .newsletter-right {
        flex-direction: column;


    }

    .subscribe-btn {
        margin-left: 4vw;
    }
}


/* ------trending ends---- */
/* ------footer--------- */
.footer {
    background-color: black;
    padding-block: clamp(40px, 8vw, 100px);
    color: white;
    font-size: 14px;
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;


    gap: 40px;
}

.footer-column h3,
.footer-column h4 {
    margin-bottom: 10px;
    color: #00e1e6;
}

.footer-column-left {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 16vw;
    margin-left: 6vw;
    margin-right: 4vw;
}

.footer-left-icons {
    display: flex;
    gap: 20px;
    width: 10vw;
    font-size: 24px;
    color: #0077FF;

}

.footer-column-left p {
    line-height: 20px;
    color: #D5D5D5;

}

.footer-column-list {
    display: flex;
    justify-content: center;
    width: 35vw;
    gap: 150px;
}

.footerList h4 {
    margin-bottom: 20px;
    font-size: 13px;
    color: #d5d5d5;
    font-weight: 500;
    letter-spacing: 1.5PX;
}


.footerList li {
    margin-top: 10px;
    list-style: none;
    color: #d5d5d5;
    font-size: 13px;

}
.footerList li a {
    text-decoration: none;
    color: #d5d5d5;
}


.second-list {
    margin-left: 20px;
}

.footer-column-right {
    display: flex;
    flex-direction: column;
    gap: 15px;
    color: #d5d5d5;
    margin-right: 6vw;
}

.footer-column-right h4 {

    font-size: 13px;
    color: #0077ff;
    font-weight: 500;
    letter-spacing: 1.5PX;

}

.footer-end {
    border-top: 2px solid rgba(255, 255, 255, 0.2);
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    gap: 15px;
    justify-content: space-between;
    height: 100px;
    align-items: center;

    width: 90vw;
    margin-left: 6vw;
    margin-right: 6vw;
    margin-top: 100px;
}

.buttons-footer {
    display: flex;
    flex-direction: row;
    width: 40vw;
    margin-left: 4vw;
    margin-right: 4vw;
}

.footer-btn {
    background-color: transparent;
    border: 1px solid #0077ff;
    color: #D5D5D5;
    width: 100%;
    max-width: 165px;
    height: 50px;
    font-size: clamp(10px, 2vw, 18px);
    margin-right: 10px;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.footer-btn:hover {
    background-color: #0077ff;
    color: black;
}

.social-icons i {
    margin-right: 10px;
    font-size: 18px;
    cursor: pointer;
}

.footer-copy {
    width: 40vw;
    margin-right: 4vw;
    display: flex;
    justify-content: flex-end;
    color: #777;
}

@media(max-width:1100px) {
    .footer-column-list {
        gap: 80px;
    }

    .footer-column-right {
        margin-left: 6vw;
    }
}

@media(max-width:780px) {
    .footer-end {
        flex-direction: column;
    }

    .buttons-footer {
        width: 100vw;
        justify-content: center;
        margin-top: 30px;
    }

    .footer-copy {
        width: 100vw;
        justify-content: center;
    }

    .footer-column-list {
        gap: 80px;
    }

    .footer-left-icons {
        font-size: 20px;
    }

    .footer-column-left {
        width: 20vw;
    }

    .footer-column-list {
        width: 35vw;
        justify-content: flex-start;

        margin-left: 6vw;
        margin-right: 6vw;
    }

    .footer-container {
        justify-content: flex-start;
    }
}

@media(max-width:500px) {
    .footer-column-left {
        width: 88vw;


    }

    .footer-left-icons {
        font-size: 16px;
    }

    .footer-left-icons {
        width: 88vw;
        display: flex;

    }

    .footer-column-list {
        width: 100vw;
        flex-wrap: wrap;
        gap: 40px;
        margin-left: 6vw;
        margin-right: 6vw;

        align-items: center;


    }

    .second-list {
        margin-left: 0px;
    }

    .footer-container {
        justify-content: flex-start;
    }

    .footer-column-right {
        width: 100vw;
        margin-left: 6vw;
        margin-right: 6vw;

    }

    .footer-buttons {
        width: 88vw;
        left: 6vw;
    }

    .footer-btn {
        width: 88vw;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
        max-width: 140px;
        height: 50px;
        font-size: 15px;
    }
}

@media(max-width:330px) {
    .footer-column-list {
        margin-left: 0;
        width: 88vw;
        margin-left: 6vw;

    }



    .footer-btn {

        justify-content: center;
        align-items: center;

        max-width: 140px;
        height: 50px;
        font-size: 12px;
    }
}

@media(min-width:1500px) {
    .footer {
        background-color: black;
        padding-block: clamp(40px, 8vw, 100px);
        color: white;
        font-size: 18px;
    }

    .footer-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;


        gap: 40px;
    }

    .footer-column h3,
    .footer-column h4 {
        margin-bottom: 10px;
        color: #00e1e6;
    }

    .footer-column-left {
        display: flex;
        flex-direction: column;
        gap: 15px;
        width: 16vw;
        margin-left: 6vw;
        margin-right: 4vw;
    }

    .footer-column-left h3 {
        font-size: 24px;
    }


    .footer-column-left p {
        line-height: 26px;
        color: #D5D5D5;
        font-size: 18px;

    }



    .footerList h4 {
        margin-bottom: 20px;
        font-size: 18px;
        color: #d5d5d5;
        font-weight: 500;
        letter-spacing: 1.5PX;
    }


    .footerList li {
        margin-top: 13px;

        font-size: 18px;

    }

    .second-list {
        margin-left: 20px;
    }



    .footer-column-right h4 {

        font-size: 18px;


    }

    .footer-column-right p {
        font-size: 18px;
    }


}




/* ---end footer--- */